/* Write your CSS here */
.vaccination-by-gender-container {
  min-height: 200px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #1c1c2b;
}
.gender-heading {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: left;
}
.pie-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
